.badwords-div {
  background-image: linear-gradient(to right, rgb(143, 36, 225), rgb(54, 54, 54));
  position: absolute;
  bottom: 60px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 55px;
  border-radius: 8px;
  opacity: 0;
  box-shadow: 10px 10px 30px rgb(0, 0, 0);
  transition: ease-in-out 0.3s;
}

.badwords-div-inner {
  color: white;
  background-image: linear-gradient(to right, black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 398px;
  height: 53px;
  gap: 15px;
  border-radius: 8px;
}

.badwords-div span {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 0;
}

.js-badwords-div-visible {
  opacity: 1;
  transition: ease-in-out 0.3s;
}