.badwords-div {
  background-image: linear-gradient(to right, rgb(236, 47, 211), rgb(112, 30, 174));
  position: absolute;
  bottom: -80px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 55px;
  border-radius: 8px;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.badwords-div-inner {
  color: white;
  background-color: rgb(39, 14, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 398px;
  height: 53px;
  gap: 15px;
  border-radius: 8px;
}

.badwords-div span {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 0;
}

.js-badwords-div-visible {
  opacity: 1;
  transition: ease-in-out 0.3s;
}