body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  height: 1400px;
  width: 100%;
  font-family: "Space Mono";
  color: white;
 /*  position: relative; */
}

html {
  height: 100%;
  width: 100%;
}

/* super inneficient */
/* .trail-x {
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: url(/icons/window-close.svg);
  pointer-events: none;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s forwards;
  z-index: 0;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.01);
  }
}
 */