.footer {
  display: flex;
  gap: 10px;
  background-color: rgb(15 15 15);
  font-family: Pixelify Sans;
  border-top: 1px rgb(65, 65, 65) dashed;
}

/* left side style */

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

/* right side styles */

.right-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.user-captcha {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email-title {
  font-size: 24px;
}

.instructions {
  display: flex;
  gap: 5px;
  background-color: rgb(66, 59, 77);
  width: fit-content;
}

.captcha-title {
  font-size: 14px;
}

.info-icon {
  filter: invert();
}

.info-icon:hover {
  transform: translateY(-5px);
}

.eq-input {
  display: flex;
}

.math-equation {
  font-size: 18px;
}

#captcha-response {

}

.divider {
  width: 100%;
}