/* styling for the writable input inside the shell */

.writable-textarea {
  height: 24px;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-family: "Space Mono";
  font-size: inherit;
  caret-color: transparent;
}

.writable-textarea-caret {
  caret-color: rgb(255, 255, 255);
}

#shell-input-container {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
