.js-terminal-shell {
  overflow: auto;
  scrollbar-color: rgb(33, 33, 33) rgb(13, 16, 18);
  height: 100%;
  font-family: "Space Mono";
  color: white;
  margin: 0 5px 0 10px;
  display: flex;
  flex-direction: column;
}

/* styling for the writable input inside the shell */

.writable-textarea {
  height: 24px;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-family: "Space Mono";
  font-size: inherit;
  caret-color: transparent;
<<<<<<< HEAD
=======
}

.writable-textarea-caret {
  caret-color: rgb(255, 255, 255);
>>>>>>> 2ce53d7c3072dcb0f0d5a8b8210f4511eef19d10
}

#shell-input-container {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
