


.header {
  border-top: #4d23e4 solid 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.8);
  z-index: 100;
  position: relative;
}

.homelink {
  z-index: 100;
}
.homelink a {
  background: linear-gradient(to right, 
  #00affa 20%,
  #234bea 30%,
  #e6348d 50%,
  #6f00ff 70%,
  #00affa 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textgradient 5s ease-in-out infinite alternate;
  transition: 
    color 0.3s ease-in,
    -webkit-text-fill-color 0.3s ease-in,
    background-clip 0.3s ease-in;
  color: transparent;
    /* Initial color (hidden by -webkit-text-fill-color) */
}

.homelink a:hover {
  -webkit-background-clip: initial;
    /* Remove text clipping */
    background-clip: initial;
    -webkit-text-fill-color: initial;
    /* Restore normal text color */
    color: rgb(255, 255, 255);
    /* Set the desired color */
}

.gitlink {
  z-index: 100;
}
.gitlink a {
  background: linear-gradient(to right,
      #00affa 20%,
      #234bea 30%,
      #e6348d 50%,
      #6f00ff 70%,
      #00affa 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textgradient 5s ease-in-out infinite alternate;
  transition:
    color 0.3s ease-in,
    -webkit-text-fill-color 0.3s ease-in,
    background-clip 0.3s ease-in;
  color: transparent;
}

.gitlink a:hover {
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  color: rgb(255, 255, 255);
}

@keyframes textgradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


/* sidenav menu button styles */

.open-btn-gradient {
  font-size: 16px;
  background: linear-gradient(to right,
      #00affa 20%,
      #234bea 30%,
      #e6348d 50%,
      #6f00ff 70%,
      #00affa 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textgradient 5s ease-in-out infinite alternate;
  transition:
    color 0.3s ease-in,
    -webkit-text-fill-color 0.3s ease-in,
    background-clip 0.3s ease-in;
  color: transparent;
  cursor: pointer;
}

.open-btn-gradient:hover {
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  color: rgb(255, 255, 255);
}

.open-btn {
  text-indent: 2px;
  width: 24px;
  position: fixed;
  left: 40px;
  top: 17px;
  z-index: 1000;
}

/* sidenav links */

.sidenav {
  position: fixed;
  height: 60vh;
  top: 0;
  z-index: 999;
  max-height: 430px;
}

.sidenav-mainbody {
  height: 100%;
  width: 0px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(15, 15, 15);
  padding-top: 50px;
  opacity: 0;
  border-top: #4d23e4 solid 1px;
  border-right: #4d23e4 solid 1px;
  border-bottom: #4d23e4 solid 1px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav-mainbody hr {
  width: 100%;
}


.close-btn {
  text-indent: 2px;
  width: 24px;
  position: relative;
  right: 0px;
  top: 0px;
}

.sidenav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  font-size: 18px;
  margin: 0 20px 20px 20px;
  text-wrap: nowrap;
}


/* sidenav buttons */

.sidenav-btn {
  display: flex;
  width: 140px;
  flex-direction: column;
  text-wrap: wrap;
  gap: 5px;
}

.nav-button {
  text-wrap: wrap;
  width: 140px;
}



@media screen and (max-width: 450px) {
  .open-btn {
    left: 25px;
  }
}

@media screen and (max-width: 330px) {
  .inner-header {
    flex-direction: column;
    font-size: 14px;
  }
  .open-btn {
    left: 18px; 
  }
}