.title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  text-align: center;
  z-index: 100;
  position: relative;
}

.title-text p {
  font-size: 30px;
}

.rainbow {
  background: linear-gradient(to right,
      #e6348d 20%,
      #6f00ff 30%,
      #00affa 50%,
      #234bea 70%,
      #e74abd 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textgradient 5s ease-in-out infinite alternate;
}

.rainbow2 {
  background: linear-gradient(to right,
      #00affa 20%,
      #234bea 30%,
      #e6348d 50%,
      #6f00ff 70%,
      #00affa 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textgradient 5s ease-in-out infinite alternate;
}

@keyframes textgradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


/* styles for the cat header */

.cat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.cat-header {
  font-size: 30px;
}

.headpat-number {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: rgb(99, 66, 150);
  border-radius: 5px;
  border: 1px white solid;
  padding: 0px 5px;
}
.headpat-number span {
  color: rgb(255, 215, 0)
}
#heart-icon {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 600px) {
  .title-text p {
    font-size: 18px;
    margin: 0 30px;
  }
  .cat-header {
    font-size: 18px;
    margin: 0 30px; 
  }
  .headpat-number {
    font-size: 15px;
  }
  #heart-icon {
    height: 16px;
    width: 16px;
  }
}

@media screen and (max-width: 450px) {
  .title-text p {
    font-size: 15px;
  }
  .cat-header {
    font-size: 15px;
  }
  .headpat-number {
    font-size: 12px;
    text-wrap: nowrap;
  }
  #heart-icon {
    height: 12px;
    width: 12px;
  }
}

@media screen and (max-width: 300px) {
  .title-text p {
    font-size: 12px;
  }
  .cat-header {
    font-size: 12px;
  }
  .headpat-number {
    font-size: 10px;
  }
  #heart-icon {
    height: 10px;
    width: 10px;
  }
}